*{
    padding: 0px;
    margin: 0px;
}



h1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
}

img{
    border-radius: 25%;
    height: 20%;
    width: 25%;
    margin-left: 15px;
}

form{
    display: flex;
    flex-flow: row wrap;
    flex: 0 2 200px;
    padding: 10px;
    margin: 10px;
}
label{
    margin-left: 10px;
}

table{
    margin: 10%;
    border-collapse: collapse;
    
}

th,td{
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: black;
    color: white;
}

.cor{
    background-color: grey;
}

ol,ul{
    margin-left: 10%;
}

ol{
    margin-bottom: 20px;
}

p{
    margin-left: 8%;
}

.listas{
    display: flex;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

a{
 text-decoration: none;
 color: white;

}

a:hover{
    font-size: 18px;
    transition: 0.7s;
}